<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.DeptDao">

    <insert id="save" parameterType="Dept">
        insert into dept values(#{id},#{no},#{name},#{number},#{createDate})
    </insert>
    <delete id="delete" parameterType="String">
        delete from dept where id=#{id}
    </delete>
    <update id="update" parameterType="Dept">
        update dept set no=#{no},name=#{name},number=#{number},createDate=#{createDate}
        where id=#{id}
    </update>
    <select id="findAll" resultType="Dept">
        select id,no,name,number,createDate from dept
    </select>
    <select id="findTotals" resultType="Long">
         select count(id) from dept
    </select>
    <select id="findByPage" resultType="Dept">
         select id,no,name,number,createDate from dept limit #{start},#{rows}
    </select>
    <select id="queryOne" resultType="Dept">
        select id,no,name,number,createDate from dept where id=#{id}
    </select>
</mapper>
