<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.EmpDao">
    <insert id="save" parameterType="Emp">
        insert into t_emp values(#{id},#{name},#{age},#{bir},#{address},#{sex})
    </insert>
    <delete id="delete" parameterType="String">
        delete from t_emp where id=#{id}
    </delete>
    <update id="update" parameterType="Emp">
        update t_emp set name=#{name},age=#{age},bir=#{bir},address=#{address},sex=#{sex}
        where id=#{id}
    </update>
    <select id="queryOne" resultType="String">
        select id,name,age,bir,address,sex from t_emp where id=#{id}
    </select>
    <select id="findAll" resultType="Emp">
        select id,name,age,bir,address,sex from t_emp
    </select>
    <select id="findByPage" resultType="Emp">
         select id,name,age,bir,address,sex from t_emp limit #{start},#{rows}
    </select>
    <select id="findTotals" resultType="Long">
         select count(id) from t_emp
    </select>

</mapper>
